<div *ngIf="connected==true" class="container">
    <form #transaccionForm="ngForm" (ngSubmit)="doTransaccion(transaccionForm)">
        <p>
            <label for="cuenta_emisor">Enviar desde: </label>
            <select name="cuenta_emisor" #cuenta_emisor="ngModel" [(ngModel)]="transaccion.cuenta_emisor">
                <option *ngFor="let cuenta of cuentas" value="{{cuenta.cuenta}}">{{cuenta.cuenta}}</option>
            </select>
        </p>
        <p>
            <label for="monto">Enviar hacia: </label>
            <input type="text" name="monto" #monto="ngModel" [(ngModel)]="transaccion.monto">
        </p>
        <p>
            <label for="cuenta_receptor">Enviar hacia: </label>
            <input type="text" name="cuenta_receptor" #cuenta_receptor="ngModel" [(ngModel)]="transaccion.cuenta_receptor">
            <a (click)="validarCuenta()">VALIDAR</a>
        </p>
        <input type="submit" value="Transferir" [disabled]="!cuentaValida==true">
    </form>
</div>