<footer id="footer">
    <div class="wrap">
        <div id="menu_footer">
            <h5>MENÚ</h5>
            <ul>
                <li><a href="#">INICIO</a></li>
                <li><a href="#">LIBROS</a></li>
                <li><a href="#">GUARDAR LIBRO</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </div>
        <div id="location">
            <h5>¿DONDE ESTAMOS?</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7912071938254!2d-78.48942607599862!3d-0.21122790860511534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a107b70b7bd%3A0x54a537873ca87a03!2sFacultad%20de%20Ingenier%C3%ADa%20en%20Sistemas!5e0!3m2!1ses-419!2sec!4v1670455345679!5m2!1ses-419!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div id="info">
            <h5>CONTACTOS</h5>
            
                <h2>Dirección:</h2>
                <a href="#" class="icon">?</a>
                <span>Calle OE6F y pasaje T50E</span>
                <h2>Teléfonos:</h2>
                <a href="#" class="icon">u</a>
                <span>0123456789</span>
                <h2>Correo:</h2>
                <a href="#" class="icon">@</a>
                <span>contacto@libreriaabc.com</span>
            
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="autor">
        <p>
            Copyright &copy; 2022 Librería ABC, Quito, Ecuador
            <br>
            Designed by
            <a href="mailto:jerson.andino@epn.edu.ec?subject=Ayuda">jersondev</a>
        </p>
    </div>
</footer>