<div class="container">
    <h2>{{titulo}}</h2>
    <form #libroForm="ngForm" (ngSubmit)="guardarLibro(libroForm)">
        <p>
            <label for="nombre">Nombre: </label>
            <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="libro.nombre" required>
            <span *ngIf="nombre.touched && !nombre.valid">
                Nombre obligatorio
            </span>
        </p>
        <p>
            <label for="autor">Autor: </label>
            <input type="text" name="autor" #autor="ngModel" [(ngModel)]="libro.autor" required>
            <span *ngIf="autor.touched && !autor.valid">
                Autor obligatorio
            </span>
        </p>
        <p>
            <label for="edicion">Edicion: </label>
            <input type="text" name="edicion" #edicion="ngModel" [(ngModel)]="libro.edicion" required>
            <span *ngIf="edicion.touched && !edicion.valid">
                Edicion obligatoria
            </span>
        </p>
        <p>
            <label for="anio">Año: </label>
            <input type="number" name="anio" #anio="ngModel" [(ngModel)]="libro.anio" required>
        </p>
        <p>
            <label for="precio">Precio: </label>
            <input type="number" name="precio" #precio="ngModel" [(ngModel)]="libro.precio" required>
        </p>
        <p>
            <label for="imagen">Imagen: </label>
            <span *ngIf="libro.imagen" style="float:none;">
                <img src="{{url+'get-imagen/'+libro.imagen}}" style="width:100px;" alt="">
            </span>
            <input type="file" #archivoImagen placeholder="Seleccionar imagen" (change)="imagenChangeEvent($event);">            
        </p>
        <input type="submit" value="Guardar" [disabled]="!libroForm.form.valid">
    </form>
</div>