<!DOCTYPE html>
<html>
<head>
	<title>BananBank - Tu banca en línea</title>
</head>
<body>
	<h1>BananBank</h1>
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/img/slide1.jpg" class="d-block w-100" alt="100px">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/slide2.jpg" class="d-block w-100" alt="100px">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/slide3.jpg" class="d-block w-100" alt="100px">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
     <br>
     <br>
	<p>BananBank es una institución financiera que ofrece una amplia gama de servicios bancarios en línea para satisfacer las necesidades de sus clientes. Ofrecemos servicios de banca personal y empresarial, incluyendo cuentas corrientes, cuentas de ahorro, tarjetas de crédito y débito, préstamos, inversiones y servicios de pago en línea. Nos comprometemos a brindar un servicio de alta calidad, seguridad y conveniencia para nuestros clientes.</p>
	
	<h2>Integrantes del equipo</h2>
	<ul>
		<li>Andrés Albarracín</li>
		<li>Ricardo Barros</li>
		<li>David Casnanzuela</li>
		<li>Marco Quichimbo</li>
	</ul>
    
</body>

</html>
